altgraph==0.17.4
packaging==25.0
pefile==2023.2.7
psutil==7.0.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
pywin32==310
pywin32-ctypes==0.2.3
setuptools==79.0.1
win32-window-monitor==0.3.3
